<app-back-button></app-back-button>

<h1 class="text-center text-5xl">Hire {{ employee?.name }}</h1>

<form class="flex justify-center border border-black w-96 h-48 mx-auto mt-8">
	<div class="mt-8">
		<label class="block text-center" for="company">Add your company</label>
		<input
			[formControl]="companyFormControl"
			class="my-2 outline"
			type="text"
			name="company"
			id=""
		/>
		<button
			class="block border-none bg-blue-500 text-white rounded-lg p-1 w-32 bg-gray focus:outline focus:outline-blue-700 hover:bg-blue-700 mt-4 mx-auto"
			(click)="submitCompanyName()"
			type="button"
		>
			Submit
		</button>
	</div>
</form>
