<h1 class="mr-40 text-center text-5xl">Register</h1>

<div class="flex justify-center border border-black w-96 h-48 ml-96 mt-8">
	<div class="mt-8">
		<label class="block text-center font-bold text-lg" for="company"
			>Company name</label
		>
		<input
			[formControl]="companyFormControl"
			class="my-2 outline focus:outline-4"
			type="text"
			name="company"
		/>
		<button
			class="block border-none bg-blue-500 text-white rounded-lg p-1 w-32 bg-gray focus:outline focus:outline-blue-700 hover:bg-blue-700 mt-4 mx-auto"
			(click)="submitCompanyName()"
			type="button"
		>
			Submit
		</button>
	</div>
</div>
